{% extends 'base.html' %}
{% load static %}
{% block title %}主页{% endblock %}
{% block banner %}
	<!-- banner -->
	<div class="banner">
		<!-- header -->
		<div class="header"></div>
		<!-- //header -->
		<!-- banner-text -->
		<div class="banner-text"> 
			<div class="banner-w3lstext">
				<h2>Happiness lies, first of all, in health.</h2>
					<p>----G.W.Curtis</p>
			</div>
		</div> 	
		<!-- //banner-text -->
	</div>
	<!-- //banner -->
{% endblock %}

{% block bodyintroduce %}
BMI指数（英文为Body Mass Index，简称BMI），是用体重公斤数除以身高米数平方得出的数字，是国际上常用的衡量人体胖瘦程度以及是否健康的一个标准。当我们需要比较及分析一个人的体重对于不同高度的人所带来的健康影响时，BMI值是一个中立而可靠的指标。


{% endblock %}

